<style media="screen">
  .tubing_group_list {
    background-color: #61F73F;
    color: black;
    border-radius: 7px;
  }
</style>


<div>
  <ul>
    <% @notes = Video.find(session[:vid_id]).notes %>
    <% sleep(0.5) %>
    <% @notes.each do |note| %>
      <li><%= note.title %><%= note.content %></li>
    <% end %>
  </ul>
</div>
