<div class="video_box">
    <iframe name="iframe" width="560" height="315" src="https://www.youtube.com/embed/UzvPP6_LRHc" frameborder="0" allowfullscreen></iframe>
    <div class="input_box">
      <input type="text" name="#" value="" placeholder="Enter Youtube Link Here......">
      <button type="button" name="button">Start!</button>
    </div>
</div>
<div class="term_box">
  <div class="search_term_box">
    <input type="text" name="#" value="" placeholder="Search terms here......">
    <button type="button" name="button">Search!</button>
  </div>
  <div class="scrolling_box">
    <h3>"password 123"</h3>
    <div class="time_list_box">
      <ul>
        <li>10:00</li>
        <li>12:00</li>
        <li>45:02</li>
        <li>27:46</li>
        <li>10:00</li>
        <li>12:00</li>
        <li>45:02</li>
        <li>27:46</li>
        <li>10:00</li>
        <li>12:00</li>
        <li>45:02</li>
        <li>27:46</li>
        <li>10:00</li>
        <li>12:00</li>
        <li>45:02</li>
        <li>27:46</li>
        <li>10:00</li>
        <li>12:00</li>
        <li>45:02</li>
        <li>27:46</li>
      </ul>
    </div>
  </div>
</div>
