/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   padding: 0;
   margin: 0;
 }

 button:focus {outline:0;}

 input[type=text]:focus {outline:0;}

 .wrapper {
   display: grid;
   grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
   grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
   height: 100vh;
 }

 .header_container {
   display: grid;
   background-color: #D35400;
   grid-column: 1 / 11;
   grid-row: 1;
   grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
   grid-template-rows: 100%;
 }

     .logo_box {
       grid-column: 2 / 4;
       grid-row: 1;
       display: flex;
       justify-content: center;
       align-items: center;
     }

     .logo_box a{
       background-color: inherit;
     }

     .logo_box img {
       width: 55%;
       height: 80%;
     }

     .logout_login_signup_box {
       grid-column: 9 / 11;
       grid-row: 1;
       display: flex;
       justify-content: space-around;
       align-items: center;
     }

     .logout_login_signup_box button, input[type=submit], a{
       padding: 7px 12px;
       font-size: 15px;
       color: white;
       border-radius: 10px;
       background-color: #717D7E;
       text-decoration: none;
     }
